<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80012702004-lvcr7h7r4g3qmjugc0fctu6q151or5gg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80012702004-lvcr7h7r4g3qmjugc0fctu6q151or5gg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>80012702004-e2doa3tour7bperdn2r28c439rs9gku6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBw2mYMJQZdhppL85I_pHMDRZddDGSK6gM</string>
	<key>GCM_SENDER_ID</key>
	<string>80012702004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginapp</string>
	<key>PROJECT_ID</key>
	<string>loginapp-eec9e</string>
	<key>STORAGE_BUCKET</key>
	<string>loginapp-eec9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80012702004:ios:c8968cf38813249725b561</string>
</dict>
</plist>